<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rassrotchka.Properties.Settings.NedoimkaConnectionString"
            connectionString="Data Source=1232-K717-01;Initial Catalog=Nedoimka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>