/TestResults/
/MySetting.DotSettings
/.vs/Rassrotchka/v16/.suo
/.vs/Rassrotchka/v16/Server/sqlite3
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/RassrotchkaTests/obj/Debug
/RassrotchkaTests/Properties
/RassrotchkaTests/bin/Debug
/RassrotchkaTests2/Properties
/RassrotchkaTests2/obj/Debug
/.vs/Rassrotchka/v16/lut
/.vs/Rassrotchka/v16/TestStore/0
/Rassrotchka.Tests/obj/Debug
/Rassrotchka.Tests/Properties
/RassrotchkaTests1/obj/Debug
/RassrotchkaTests1/Properties
*.csproj
*.cache
/RassrotchkaTests/bin/Release
/RassrotchkaTests/obj/Release/RassrotchkaTests.pdb
/RassrotchkaTests/obj/Release/RassrotchkaTests.dll
/RassrotchkaTests/obj/Release/RassrotchkaTests.csproj.FileListAbsolute.txt
/RassrotchkaTests/obj/Release/RassrotchkaTests.csproj.CopyComplete
